
body{
    background-color: #ffffff;
}

h1{
    margin:0;
    position:relative;
    font-size: 40px;
    font-family: 'Space Mono', monospace;
    color:#184e68;
    text-align: center;
}


p{
    color:#3a3a3a;
    line-height: 25px;
    font-family: 'Space Mono', monospace;
}


header{
    width: auto;
    position: sticky;
    top:0;
    background-color: #184e68;
    z-index: 3;
    font-size:30px;
    padding:10px;
}

.skip a{
    background: white;
    left: 0;
    padding: 6px;
    z-index: 1;
    position:absolute;
    top: -50px;
    color:black;
    font-size: 25px;
    font-family: 'Space Mono', monospace;
    text-decoration: none;
}

.skip a:focus{
    position:absolute;
    top:20px;
    
}


header nav a{
    display:block;
    text-align: center;
    font-family: 'Space Mono', monospace;
}

.current{
    padding:10px;
    background-color:#ffffff;
    color:#184e68;
    text-decoration: none;
    text-transform: uppercase;
    font-size:20px;
}

.idle{
    
    font-size:16px;
    color:#ffffff;
    text-decoration: none;
    padding:10px;
}


.intros
{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.introsText
{
    width: 80%;
    border-radius: 20px;
    background-color: #ffffffee;

    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.introsText p
{
    width: 100%;
    text-align: center;
    position: relative;
}

.intros h1, .intros p
{
    padding: 20px;
}

.flip-card-back{
    display:none;
    
}

.flip-card p{

    color: #ffffff;
    /* background-color: #3a3a3a5a; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
        

}

.flip-card {
    display: block;
    position: relative;
    margin: auto;
    /* display: flex; */
    background-color: transparent;
    width:150px;
    height: 120px;
    perspective: 1000px;
    z-index: 2;
    margin-top: 30px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    }
    
.flip-card:hover .flip-card-inner,
.flip-card:focus-within .flip-card-inner,
.flip-card:active .flip-card-inner,
.flip-card:focus .flip-card-inner {
  transform: rotateY(180deg);
}
.flip-card:focus-within .flip-card-inner {
    transform: rotateY(180deg);
    }
    
.flip-card-front, .flip-card-back {
    display: block;
    position:absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    }
    
.flip-card-back {
    transform: rotateY(180deg);
    
    }
  


h2{
    text-align: center;
    font-weight:bold;
    font-size: 30px;
    font-family: 'Space Mono', monospace;
}

#homepageintro{
    min-height: 700px;
    background-image: url('../images/b737sim.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.homePreview a{
    text-decoration: none;
    display:block;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;

}

 

.hpImgs {
    display: flex;
    flex-direction: column;
    margin:20px 40px 20px 40px;
}

.hpImgs img:nth-child(n+2){
        display: none;
    }

.content{
    display:grid;
    grid-column-gap:10px;
    grid-row-gap:20px;
    grid-template-columns: auto 500px auto;
    
}

.contentBlock
{
    grid-column:2/span 1;
    display: grid;
    
}

  

.formContainer {
    margin: auto;
    padding: 16px;
    color: #ffffff;
    background-color: #184e68;
    /* width:50%; */
}


form label, form input, form textarea
{   
    width: 60%;
    text-align: center;
    margin: auto;
    display: block;
    font-family: 'Space Mono', monospace;
    
}
@keyframes scaling {
    from{transform: scale(0.1);}
    to{transform: scale(1.0);}  
  }

@keyframes dissolving {
    from{opacity: 0;}
    to{opacity: 100%;}  
  }

  img:nth-child(even){
    animation-name: scaling;
    animation-duration:1s;
  }

  img:nth-child(odd)
  {
    animation-name: dissolving;
    animation-duration:2s;
  }

footer{
    background-color: #184e68;
    padding:40px;
    font-family: 'Space Mono', monospace;
}

footer p
{
    color:#ffffff;
    text-align: center;
}


@media screen and (min-width: 768px){
    
    header nav a{
    display:inline-block;
    }

    header nav{
        text-align: center;
    }

    
    .hpImgs{
        flex-direction: row;
        justify-content: center;
    }


    .hpImgs img{
        width: 40%;
        display: block;
        margin: 20px;
    }

    .hpImgs img:nth-child(2){
        display: block;
    }

    .content{
        /* grid-row-gap: 50px; */
        grid-template-columns: auto 96% auto;
    }

    .contentBlock {
        
        grid-template-columns: repeat(4, 25%);
        /* grid-template-rows: repeat(9, 400px); */
        grid-row-gap: 50px;
        overflow: hidden;
        align-items: center;
        align-content:space-between;
    }

    .contentBlock img{
        grid-column: 1 / span 3;
        /* height: 400px; */
        /* overflow: hidden */
        z-index: 1;
        padding: 10px;
    }

    .contentBlock p{
        grid-column: 3 / span 2;
        /* height: 400px; */
        display: flex;
        z-index: 2;
        color: white;
        padding: 10px;
        background-color: #0d354acd
        /* align-self: center; */
        /* overflow: hidden */
        
    }

    .contentBlock img:nth-of-type(1), .contentBlock p:nth-of-type(1){
        grid-row: 1;
    }

    .contentBlock img:nth-of-type(2), .contentBlock p:nth-of-type(2){
        grid-row: 2;
    }

    .contentBlock img:nth-of-type(3), .contentBlock p:nth-of-type(3){
        grid-row: 3;
    }

    .contentBlock img:nth-of-type(4), .contentBlock p:nth-of-type(4){
        grid-row: 4;
    }

    .contentBlock img:nth-of-type(5), .contentBlock p:nth-of-type(5){
        grid-row: 5;
    }

    .contentBlock img:nth-of-type(6), .contentBlock p:nth-of-type(6){
        grid-row: 6;
    }

    .contentBlock img:nth-of-type(7), .contentBlock p:nth-of-type(7){
        grid-row: 7;
    }

    .contentBlock img:nth-of-type(8), .contentBlock p:nth-of-type(8){
        grid-row: 8;
    }

    .contentBlock img:nth-of-type(9), .contentBlock p:nth-of-type(9){
        grid-row: 9;
    }



}

@media screen and (min-width: 992px){
      header nav{
        text-align: left;
    }

    .hpImgs img:nth-child(n){
        width: 30%;
        display: block;
        margin: 20px;
    
    }

    .contentBlock {

        grid-template-columns: repeat(8, 12.5%);
    }

    .contentBlock img{
        grid-column: 1/span 6;
    }

    .contentBlock p{
        grid-column: 7 / span 3;
    }

    


}



@media (prefers-reduced-motion:reduce)
{
    img:nth-child(even), img:nth-child(odd) {
        animation: none;
    }

    .skip a,.flip-card-inner{
        transition: none;
    }

    #homepageintro{
        background-attachment: scroll;
    }


     
    
}
