
body{
    background-color: #ffffff;
}

h1{
    margin:0;
    position:relative;
    font-size: 40px;
    font-family: 'Space Mono', monospace;
    color:#184e68;
}



p{
    color:#3a3a3a;
    line-height: 25px;
    font-family: 'Space Mono', monospace;
}


header{
    width:auto;
    position: sticky;
    top:0;
    background-color: #184e68;
    z-index: 1;
    font-size:30px;
    padding:10px;
}

.skip a{
    background: white;
    left: 0;
    padding: 6px;
    z-index: 1;
    position:absolute;
    top: -50px;
    color:black;
    font-size: 25px;
    font-family: 'Space Mono', monospace;
    text-decoration: none;
}

.skip a:focus{
    position:absolute;
    top:20px;
    
}


header nav a{
    display:block;
    text-align: center;
    font-family: 'Space Mono', monospace;
}

.current{
    padding:10px;
    background-color:#ffffff;
    color:#184e68;
    text-decoration: none;
    text-transform: uppercase;
    font-size:20px;
}

.idle{
    
    font-size:16px;
    color:#ffffff;
    text-decoration: none;
    padding:10px;
}


.intros
{
    height: 100px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.introsText
{
    width: 80%;
    border-radius: 20px;
    background-color: #ffffffee;
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.introsText p
{
    width: 100%;
    text-align: center;
    position: relative;
}

.intros h1, .intros p
{
    padding: 20px;
}


#homepageintro{
    height: 600px;
    background-image: url('../images/b737sim.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
}


.content{
    display:grid;
    grid-column-gap:10px;
    grid-row-gap:20px;
    grid-template-columns: auto 500px auto;
    
}


.contentBlock
{
    grid-column:2/span 1;
    
}

  

  
.formContainer {
    margin: auto;
    padding: 16px;
    color: #ffffff;
    background-color: #184e68;
    width:50%;
}

form label
{
    display: block;
    font-family: 'Space Mono', monospace;
    
}
@keyframes scaling {
    from{transform: scale(0.1);}
    to{transform: scale(1.0);}  
  }

@keyframes dissolving {
    from{opacity: 0;}
    to{opacity: 100%;}  
  }

  img:nth-child(even){
    animation-name: scaling;
    animation-duration:1s;
  }

  img:nth-child(odd)
  {
    animation-name: dissolving;
    animation-duration:2s;
  }

footer{
    background-color: #184e68;
    padding:40px;
    font-family: 'Space Mono', monospace;
}

footer p
{
    color:#ffffff;
    text-align: center;
}


@media (prefers-reduced-motion:reduce)
{
    img {
        animation-name:none;
    }
    
}
